<nav class="navbar navbar-default ">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">Tasks</a>
    </div>
    <!-- <div class="nav navbar-nav">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">ffffdddd</span> 
    </button>
    </div> -->

    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

    </ul>

</nav>