<div class="row mt-4" >
    <div class="col-md-8 mx-auto">
        <div class="form-group">
            <label for="label">Taches : </label>
            <input type="text" id="label" class="form-control">
        </div>
        <div class="form-check mt-4">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Completed
            </label>
        </div>

        <button class="btn btn-success btn-block d-flex justify-content-end mt-4">
            <i class="fa fa-send"></i>New Task
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        <ul class="list-group">
            <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">
                {{task.label}}
                <span class="badge badge-secondary badge-pill">{{task.completed}}</span>
            </li>
        </ul>
    </div>
</div>
